@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #fa6f2f; /* Updated to orange */
  --color-secondary: #212121; /* Updated to dark grey */
  --color-tertiary: #ffffff; /* Updated to white */
}

a {
  @apply text-primary; /* Apply the primary color for links */
}

a:hover {
  @apply border-b-2 border-primary; /* Apply primary color on hover */
}

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

/* Custom utility classes */
.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-tertiary {
  color: var(--color-tertiary);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-tertiary {
  background-color: var(--color-tertiary);
}
